.wrapper-hernav {
    background-image: url('../assets/img/bg-header.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffff;
    padding: 0 0 250px 0;
    box-sizing: border-box;
}

.wrapper-marcat {
    background-image: url('../assets/img/bg-mid.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 0 200px 0;
    box-sizing: border-box;
}